@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Days+One");
@import url("https://fonts.googleapis.com/css?family=Oswald");

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: coral;
  --secondary: #a3a3a3;
  --light: #fafafa;
  --dark: rgb(59, 56, 94);
  --darker: rgb(64, 63, 75);
  --error: rgb(228, 46, 1);
  --spacing: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Abril Fatface", "Roboto", sans-serif;
  color: var(--light);
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  color: var(--primary);
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

a:hover {
  text-decoration: underline;
}

header {
  background-image: url("../src/assets/bg-image/bckgrnd.jpg");
}

header a {
  color: var(--dark);
}

button {
  background: var(--primary);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}
button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}
.avatar {
  max-height: 200px;
  border-radius: 200px;
}

form {
  width: 40%;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 70px;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--light);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s var(--secondary);
}

input:focus {
  border: 1px solid var(--darker);
  box-shadow: 0 0 0.25rem var(--secondary);
}

.error-text {
  color: var(--error);
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.navbar__link {
  margin: 1em;
  font-family: "Audiowide";
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  color: var(--darker);
  border-bottom: 3px solid transparent;
}

.navbar__link:hover {
  color: var(--secondary);
}

.navbar__link--active {
  color: var(--primary);
  transition: border-bottom 0.5s ease-in-out;
}

.nav-title-font {
  font-family: "Days One";
  font-size: 2em;
  margin-right: 30%;
}

.top-title {
  font-family: "Oswald";
  margin-top: 20px;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid var(--secondary);
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.mx {
  margin-right: var(--spacing);
  margin-left: var(--spacing);
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

.card {
  position: absolute;
  background-color: var(--darker);
  border-radius: 5px;
  height: 300px;
  margin: 3rem 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--secondary), 0 6px 12px var(--secondary);
}

.card .img-container {
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--darker);
}

.card .content {
  position: absolute;
  opacity: 0;
  font-size: 18px;
  background-color: transparent;
  top: 25%;
  left: 28%;
  font-weight: bold;
  text-align: center;
}

.card .content:hover {
  opacity: 1;
}

.card .img-container img {
  width: 100%;
  margin-top: 5px;
  padding: 15px;
}

.card-title {
  font-family: "Oswald";
  font-size: 1.5em;
  margin-top: 0;
  color: var(--primary);
}

img .project-icon {
  padding: 5px;
  border-radius: 50%;
}

.footer .my-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}

.icon {
  padding: 10px;
}
